body {
  font-family: 'Poppins', sans-serif;
  background-color: "#349eeb"
}

.customContainer {
  max-width: 900px;
  margin: 0 auto;
}

label {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #43454A;
  display: block;
  margin-bottom: 9px;
}

.form-control {
  width: 100%;
  height: 50px;
  padding: 8px 15px;
  border: 1px solid #DDDFE2;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #00394D;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
div.form-control{
    min-height: 50px;
    height: auto;
}

.form-control a {
  color: #03a680;
}

.form-control::placeholder {
  color: #AABCC3;
  opacity: 1;
  text-transform: none;
}

.form-control:focus {
  border-color: #46b49a !important;
  box-shadow: none !important;
}

textarea.form-control {
  height: 194px;
  resize: none;
}

.form-group {
  margin-bottom: 1rem;
}

.recommendimg {
  text-align: right;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #698f8a;
  letter-spacing: .2px;
  margin-top: 4px;
}

.form-control.error {
  border: 1px solid red;
}

.uploadimg {
  width: 552px;
  height: 220px;
  background: #cfe7c7;
  border-radius: 8px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.uploadimg.logoUploadFiles {
  width: 220px;
  height: 162px;
}

.uploadimg .file2 {
  visibility: hidden;
  position: absolute;
}

.uploadimg .projbrowse.btn i {
  width: 100%;
  font-size: 42px;
  display: block;
  margin-bottom: 10px;
}

.uploadimg .projbrowse.btn {
  padding: 15px;
  background: transparent;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: #698f8a;
}

.uploadimg .projbrowse.btn span {
  font-size: 10px;
  line-height: 13px;
  font-weight: 600;
  color: #91b3a2;
  display: block;
  margin-top: 2px;
}

.uploadimg .projbrowse img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.uploadimg .projbrowse img:not([src]),
.uploadimg .projbrowse img[src=""] {
  opacity: 0;
}

.date-picker .react-datepicker-wrapper {
  display: block;
}

/** Quill Editor **/
.reactQuillWrap {
  position: relative;
  width: 100%;
  padding: 8px 15px;
  border: 1px solid #dddfe2;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #00394d;
  background: #ffffff;
}
.reactQuillWrap.error {
  border: 1px solid red;
}

.quill .ql-snow.ql-toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.quill .ql-snow.ql-toolbar .ql-formats {
  background: #cfe7c7;
  border-radius: 14px;
  padding: 0 9px;
  height: 27px;
  line-height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.quill .ql-snow.ql-toolbar .ql-formats:first-child .ql-picker {
  display: none;
}

.quill .ql-snow.ql-toolbar .ql-formats+.ql-formats {
  margin-left: 6px;
}

.ql-snow .ql-editor h1 {
  font-size: 30px;
  line-height: 32px;
  color: #00394d;
  font-weight: 600;
  margin: 0 0 20px;
}

.quill .ql-snow.ql-toolbar button,
.quill .ql-snow .ql-toolbar button {
  width: 18px;
  height: 27px;
  text-align: center;
  line-height: 27px;
  padding: 0 1px;
  background: none;
  border: none;
  font-size: 11px;
  color: #91b3a2;
  vertical-align: middle;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.quill .ql-snow.ql-toolbar button:hover,
.quill .ql-snow.ql-toolbar button:active,
.quill .ql-snow.ql-toolbar button.active,
.quill .ql-snow .ql-toolbar button:hover,
.quill .ql-snow .ql-toolbar button:active,
.quill .ql-snow .ql-toolbar button.active {
  color: #00394d;
}

.quill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  flex-direction: column-reverse;
}

.ql-snow .ql-tooltip {
  z-index: 1;
}

.quill .ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}

/* Snow Theme */
.quill .ql-snow.ql-toolbar {
  width: 51%;
  overflow: hidden;
  border: none;
  background: none;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  position: relative;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.quill .ql-snow.ql-toolbar:hover {
  width: 100%;
  overflow: visible;
}

/* Bubble Theme */
.quill .ql-bubble .ql-editor {
  border: 1px solid #ccc;
  border-radius: 0.5em;
}

.quill .ql-editor {
  width: 100%;
  height: 255px;
  resize: none;
  padding: 0;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 25px;
  position: relative;
}

.quill .ql-editor.ql-blank::before {
  left: 0;
  right: 0;
  font-style: normal;
  color: #aabcc3;
}

.themeSwitcher {
  margin-top: 0.5em;
  font-size: small;
}

.quill .ql-container.ql-snow {
  border: none !important;
  background: none !important;
}

.ql-snow.ql-toolbar button svg,
.ql-snow .ql-toolbar button svg {
  height: auto !important;
}

.quill .ql-snow .ql-icon-picker .ql-picker-label {
  padding: 4px;
  border: none;
}

.quill .ql-snow .ql-picker {
  line-height: 16px;
}

.create-btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #f7f7f5;
    border-radius: 22px;
    text-transform: uppercase;
    padding: 12px 25px 12px 25px;
    position: fixed;
    right: 30px;
    bottom: 50px;
}

.previewPan {
  flex: 0 0 96px;
  max-width: 96px;
  height: 96px;
  margin: 4px;
}

.previewPan>span {
  height: 100%;
  display: block;
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid #dddfe2;
}

.previewPan.ico>span {
  padding: 10px;
}

.previewPan>span img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.previewPan .closebtn {
  position: absolute;
  top: -6px;
  right: -6px;
  vertical-align: middle;
  cursor: pointer;
  font-size: 16px;
  margin: 0 0 0 4px;
  left: auto;
  opacity: 1;
  background: #fff;
  border-radius: 50%;
}

.ag-cell {
  overflow: visible;
}

.ag-row {
  z-index: 0;
}

.ag-row.ag-row-focus {
  z-index: 1;
}

.ag-root.ag-layout-auto-height,
.ag-body-viewport.ag-layout-auto-height,
.ag-body-viewport-wrapper.ag-layout-auto-height {
  overflow: visible;
}

.remove-attachment {
  position: absolute;
  background-color: #fff;
  color: red;
  margin-top: -10px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
}

.form-group label.radio-container {
  display: block;
  position: relative;
  padding-left: 19px;
  margin-bottom: 0;
  padding: 0;
  cursor: pointer;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #43454A;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-checkmark {
  position: absolute !important;
  top: 3px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #cfe7c780;
  border-radius: 50%;
  border: 2px solid #bfc52e;
}

.radio-container input.checked~.radio-checkmark,
.form-group .custom-control.btn input.checked~.radio-container .radio-checkmark {
  background-color: #bfc52e;
}

.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input.checked~.radio-checkmark:after,
.form-group .custom-control.btn input.checked~.radio-container .radio-checkmark:after {
  display: block;
}

.radio-container .radio-checkmark:after,
.form-group .custom-control.btn input.checked~.radio-container .radio-checkmark:after {
  top: 3px;
  left: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #00394d;
}

.custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
}


.rdt_Table{
  margin-bottom: 20px;
}
.rdt_Table,
.rdt_TableHeadRow {
  background: #f3fafa !important;
  border: none !important;
}

.rdt_TableHeadRow {
  border: none;
}

.dgtable .table thead th,
.table.fixedHeader-floating thead th,
.rdt_Table .rdt_TableHeadRow .rdt_TableCol {
  background: transparent;
  padding: 12px 15px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #045baa;
  position: relative;
  border: none;
  /* max-width: 200px;
  min-width: 115px; */
}

.table.fixedHeader-floating thead th [class*=" i"],
.rdt_Table .rdt_TableHeadRow .rdt_TableCol [class*=" i"] {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600;
}

/* .rdt_Table .rdt_TableHeadRow .rdt_TableCol:first-child {
  min-width: 160px;
} */
/* .col2Large .rdt_Table .rdt_TableHeadRow .rdt_TableCol:nth-child(2), 
.col2Large .rdt_Table .rdt_TableHeadRow .rdt_TableCol:nth-child(3)
 {
  min-width: 250px;
  max-width: 250px;
} */
.rdt_Table .rdt_TableHeadRow .rdt_TableCol .rdt_TableCol_Sortable {
  width: 100%;
  line-height: normal;
}

.rdt_Table .rdt_TableHeadRow .rdt_TableCol .rdt_TableCol_Sortable>span {
  margin-left: auto;
  padding: 0;
}

.dgtable .table thead th span,
.table.fixedHeader-floating thead th span {
  color: #cfe7c7;
  margin-left: 2px;
}

.dgtable .table thead th i,
.table.fixedHeader-floating thead th i {
  float: right;
  padding: 0 3px;
  font-size: 16px;
  line-height: 13px;
}

/* .dgtable .table thead th + th,
.table.fixedHeader-floating thead th + th,
.rdt_Table .rdt_TableHeadRow .rdt_TableCol + .rdt_TableCol {
  border-left: 1px solid #91b3a2;
} */
.rdt_Table .rdt_TableRow+.rdt_TableRow {
  margin-top: 10px;
}

.dgtable .table.dataTable td,
.rdt_Table .rdt_TableRow .rdt_TableCell,
.dgtable .react-bs-container-body td {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  padding: 5px 15px;
  min-height: 48px;
  vertical-align: middle;
  /* max-width: 200px; */
}

.rdt_Table .rdt_TableRow .rdt_TableCell.emailVerified {
  color: limegreen;
}

.rdt_Table .rdt_TableRow .rdt_TableCell.emailUnverified,
.rdt_Table .rdt_TableRow .rdt_TableCell.emailUnverified a {
  color: #ff0000 !important;
}

.dgtable .table.dataTable td:first-child,
.rdt_Table .rdt_TableRow .rdt_TableCell:first-child {
  color: #154a59;
  font-weight: 600;
  /* min-width: 160px; */
}

/* .col2Large .rdt_Table .rdt_TableRow .rdt_TableCell:nth-child(2), 
.col2Large .rdt_Table .rdt_TableRow .rdt_TableCell:nth-child(3) {
  max-width: 250px;
  min-width: 250px;
} */
.rdt_Table .rdt_TableRow .rdt_TableCell > a {
  color: #41d4ce;
  text-decoration: none;
}
.dgtable .table.dataTable td:first-child a,
.rdt_Table .rdt_TableRow .rdt_TableCell:first-child a {
  color: #045baa;
  text-decoration: none;
}

.dgtable .table.dataTable td:first-child a:hover,
.rdt_Table .rdt_TableRow .rdt_TableCell:first-child a:hover {
  text-decoration: none;
}

.rdt_Table .rdt_TableRow button.eKwPae[aria-disabled="true"] {
  display: none;
}

.dgtable .table.dataTable td:first-child.red {
  color: #98130f;
}

.dgtable .table.dataTable td:last-child {
  padding: 3px 10px;
}

.rdt_Table .rdt_TableRow {
  border: none !important;
  min-height: 32px;
  border-radius: 8px;
}

/* .dgtable .table-striped tbody tr:nth-of-type(odd),
.rdt_Table .rdt_TableRow:nth-of-type(odd) {
  background: #f7f7f5;
} */
.dgtable .table.dataTable td .username {
  display: inline-block;
}

.dgtable .table.dataTable td figure.user {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  vertical-align: -6px;
  margin: 0 7px 0 0;
}

.dgtable .table.dataTable td figure.user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dgtable .table.dataTable td:last-child {
  vertical-align: middle;
}

.dgtable .table.dataTable td .viewlink {
  float: right;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  line-height: 13px;
  color: #91b3a2;
  font-weight: 500;
  text-decoration: underline;
}

.dgtable .table.dataTable td .viewlink:hover {
  text-decoration: none;
}

.dgtable .dgdropdown .btn {
  width: 100px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #698f8a;
  font-weight: 400;
}

.dgtable .dgdropdown .btn.red {
  color: #98130f;
}

.dgtable .dgdropdown.show .dropdown-menu {
  min-width: 100px;
  width: 100px;
}

.dgtable .dgdropdown .dropdown-toggle:after {
  float: right;
}

.rdt_Pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex !important;
    align-items: center;
    padding: 0 20px;
    width: auto !important;
    justify-content: flex-start !important;
    min-height: inherit !important;
    margin: 20px 0 40px;
    background: #41d4ce45 !important;
    border-radius: 8px;
}

.tblpagination span,
.rdt_Pagination span {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #154a59;
  display: inline-block;
  margin-right: 6px;
}

.rdt_Pagination .jexnEe button {
  color: #00394d;
  fill: #00394d;
}

.rdt_Pagination .jexnEe button:disabled {
  cursor: unset;
  color: rgba(0, 0, 0, 0.18);
  fill: rgba(0, 0, 0, 0.18);
}

.rdt_TableHeader {
  overflow: visible !important;
  margin-bottom: 1rem;
  border-radius: 8px;
  padding: 10px 30px !important;
}

.rdt_TableHeader>div:first-child {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  line-height: 46px;
  color: #045baa;
}

.menu-list .rdt_TableHeader,
.menu-list.persona-form .wpondMain {
  width: 100%;
  padding: 14px 20px 17px;
  background: #f2fff5 !important;
  overflow: visible !important;
  display: block !important;
}

.rdt_TableHeader .searchField {
  width: 324px;
  height: 40px;
  background: #ffffff;
  border: none;
  border-bottom: 2px solid #22365e;
  padding: 7px 10px 8px;
  border-radius: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 25px;
  color: #00394d;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.rdt_TableHeader .searchField::placeholder {
  color: #d4dde0;
  opacity: 1;
  text-transform: none;
}

.rdt_TableHeader .searchField:focus, .rdt_TableHeader .searchField:focus-visible {
  border-color: #46b49a;
  box-shadow: none;
  outline: none;
}



.fa-trash-can.disable,
.link.disable {
  pointer-events: none;
  color: grey;
}

.btn-primary,
.btn-primary:hover {
  background-color: #045BAA;
  border-color:#045BAA;
}

.filterSection {
  width: 100%;
  padding: 14px 20px 17px;
  background: #AEDAD2;
  display: flex;
  position: relative;
  z-index: 11;
  border-radius: 15px;
}

.filterSection .goBack, .filterSection .goback {
  text-decoration: none;
}

.sidebar .sidebar-brand {
  background: #fffffff2;
  align-items: flex-start;
  padding-left: 23px;
}

.header-toggler>span {
  display: block;
  width: 27px;
  height: 3px;
  background-color: rgba(0, 0, 0, .25);
  border-radius: 5px;
}

.header-toggler>span+span {
  margin-top: 5px;
}

.breadcrumb .breadcrumb-item a,
.footer a {
  text-decoration: none;
  color: #281F55;
}

.sidebar-nav .nav-link {
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  padding: 20px 30px 20px 25px;
  transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}

.sidebar-nav .nav-link,
.sidebar-nav .nav-icon {
  color: #000000;
}

.sidebar-nav .nav-link.active {
  border-left: 5px solid #045baa;
  padding-left: 20px;
}

.sidebar-nav .nav-link.active,
.sidebar-nav .nav-link.active .nav-icon,
.sidebar-nav .nav-link:hover,
.sidebar-nav .nav-link:hover .nav-icon {
  color: #000000;
  background: #F3FAFA;
}

.sidebar-nav .nav-group.show {
  background: #F3FAFA;
}

.sidebar-nav .nav-group.show .nav-group-toggle {
  color: #000000;
}

.sidebar-nav .nav-group-toggle::after,
.sidebar-nav .nav-group-toggle:hover:after {
  --svg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  background-image: var(--svg) !important;
}

html:not([dir=rtl]) .sidebar-nav .nav-group-items .nav-link {
  padding-left: 82px;
}

.sidebar-nav .nav-group .nav-group-items .nav-link.active {
  color: #045baa;
}

.sidebar-nav .nav-group .nav-group-items>.nav-item+.nav-item {
  border-top: 1px solid #045baa1a;
}

.sidebar {
  background: #F3FAFA;
}

@media (min-width: 768px) {
  .sidebar.sidebar-fixed {
    top: 64px;
  }
}

.sidebar-nav {
  margin: 10px 0;
  border-radius: 0 10px 10px 0;
  background-color: #ffffff;
}

.header {
  border: none;
}

.footer {
  background: #F3FAFA;
  border: none;
}

.search {
  position: relative;
}

.search .form-control {
  width: 100%;
  max-width: 345px;
  height: 46px;
  background: #F3FAFA;
  border-radius: 24px;
  padding: 12px 30px;
  border: none;
}

.search .form-control:focus,
.search .form-control:focus-visible {
  background-color: #e5f7f7;
}

.search .btn {
  position: absolute;
  right: 10px;
  top: 5px;
  background: transparent;
  border: none;
  color: #045baa;
}

.wseInfratechBodyBG {
  background: #e9f7f4
}

.react-tagsinput {
  border-radius: 8px !important;
  border: 1px solid #dddfe2 !important;
}

.react-tagsinput-tag,
.ReactTags__tag,
.select__multi-value {
  position: relative !important;
  display: inline-block !important;
  max-width: 100% !important;
  word-wrap: break-word !important;
  color: #fff !important;
  margin: 2px !important;
  padding: 7px 12px !important;
  background: #045baa !important;
  border-radius: 18px !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 13px !important;
  line-height: 16px !important;
  font-weight: 400 !important;
  display: inline-flex !important;
  border-color: #045baa !important;
  flex-wrap: wrap;
  align-items: center;
}

.react-tagsinput-remove,
.select__multi-value__remove {
  text-decoration: none !important;
  color: #fff !important;
  font-size: 20px !important;
  margin-left: 5px !important;
  font-weight: 400 !important;
  padding: 0 !important;
}

.select__multi-value__remove>svg {
  display: none;
}

.select__multi-value__remove:before {
  content: " ×";
}

.select__multi-value>.select__multi-value__label {
  padding: 0;
  font-size: 13px !important;
  line-height: 16px !important;
  color: #ffffff;
}

.goBack, .goback {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #00394d;
    letter-spacing: .024em;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
}
.search-close {
  right: 135px;
  color: #000;
  height: 100%;
  width: 20px;
  cursor: pointer;
  opacity: 1;
  transition: all .3s ease;
  position: absolute;
}
.search-close:before {
  font-family: FontAwesome;
  content: "\f00d";
  font-weight: 400;
  font-size: 20px;
  width: 100%;
  top: 50%;
  right: -4px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.statusWrap span{
  padding: 3px 10px;
  border: 1px dashed #c7c7c7;
  border-radius: 5px;
}
.statusWrap span.enable{
  border-color: #045baa;
  color: #045baa;
}

.dgTabUI{
  margin: 30px 0 0;
}
.dgTabUI .nav-tabs{
  border: none;
}
.dgTabUI .nav-tabs .nav-item + .nav-item{
  margin-left: 10px;
}
.dgTabUI .nav-tabs .nav-link{
    font-family: Poppins,sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #045baa;
    border-radius: 22px;
    text-transform: uppercase;
    padding: 12px 25px;
    background-color: #ffffff;
    border: 1px solid #045baa;
}
.dgTabUI .nav-tabs .nav-link.active, .dgTabUI .nav-tabs .nav-item.show .nav-link{
  background-color: #045baa;
  color: #ffffff;
}
.dgTabUI .tab-content{
  padding: 30px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-top: 20px;
}
.rdt_Table .rdt_TableRow .rdt_TableCell.emailUnverified, .rdt_Table .rdt_TableRow .rdt_TableCell.emailUnverified a {
  color: red !important;
}
.rdt_Table .rdt_TableRow .rdt_TableCell.emailVerified {
  color: #32cd32;
}
.tableBtn{
  border-radius: 35px;
  padding: 7px 25px;
  color: #ffffff;
  font-size: 14px;
}
.quizAnswersAll {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.quizAnswersAll li{
  color: #333333;
  border: 1px solid #e7e7e7;
  padding: 3px 10px;
  font-size: 14px;
  line-height: 18px;
  border-radius: 6px;
}
.quizAnswersAll li.correct{
  color: green;
  border-color: green;
}
.quizAnswersAll li + li{
  margin-top: 5px;
}
.quizSummDesc{
  font-size: 14px;
  line-height: 20px;
}
.quizSummaryTable .rdt_TableCol input,
.quizSummaryTable .rdt_TableCell input{
  width: 20px;
  height: 20px;
}

.addResProofDocStatus .form-control{
    display: flex;
    align-items: center;
    max-width: max-content;
    width: auto;
}
.addResProofDocStatus .form-control .aStatus{
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: #41D4CE;
    padding: 4px 12px 3px;
    border-radius: 15px;
    border: 1px solid #41D4CE;
}
.addResProofDocStatus .form-control .aStatus > i {
    margin-right: 5px;
    vertical-align: middle;
}
/* .addResProofDocStatus .form-control .aStatus.apprv{
    background-color: #41D4CE;
    border-color: #41D4CE;
    color: #ffffff;
}
.addResProofDocStatus .form-control .aStatus.pendg{
  border-color: #41D4CE;
  color: #41D4CE;
} */

.colFixedwithSelect .rdt_TableHead{
    z-index: 2;
}
.colFixedwithSelect .rdt_TableCol:first-child,
.colFixedwithSelect .rdt_TableCell:first-child{
    position: sticky;
    left: 0;
    z-index: 1;
    background: inherit;
}
.colFixedwithSelect .rdt_TableCol:nth-child(2),
.colFixedwithSelect .rdt_TableCell:nth-child(2){
    position: sticky;
    left: 48px;
    z-index: 1;
    background: inherit;
}
.colFixedwithSelect .rdt_TableCol:first-child, .colFixedwithSelect .rdt_TableCol:nth-child(2){
    z-index: 2;
}
.wrapUserDashboard .previewPan{
  display: inline-flex;
  align-items: center;
  padding: 8px 20px 8px 10px;
  background-color: #0459a918;
  border-radius: 10px;
  position: relative;
  margin: 8px;
}
.wrapUserDashboard .previewPan figure{
  width: 40px;
  flex: 0 0 auto;
  margin: 0 10px 0 0;
}
.wrapUserDashboard .previewPan figure > img{
  max-width: 100%;
}
.wrapUserDashboard .previewPan p{
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: var(--secondary-color);
}
.wrapUserDashboard .previewPan .btnClose{
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 12px;
  padding: 3px;
  background: #4a4543;
  color: #ffffff;
  border-radius: 30px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sponsors-remove {
  z-index: 1;
  bottom: 5px;
  position: absolute;
  background: rgba(212, 103, 103, .7);
  right: 5px;
}
.dshbCategoryLists.subjectsList {
    background: 0 0;
    border: none;
    border-radius: 0;
    justify-content: center;
    margin: 0;
    align-items: center;
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    margin-right: 10px;
}
.dshbCategoryLists.subjectsList .ctItems {
    font-size: 12px;
    line-height: 17px;
    margin: 2px;
    padding: 7px 18px;
    background: #cff4f3;
    border-radius: 30px;
    color: #666766;
    display: inline-block;
    font-family: var(--primary-font);
    font-weight: 400;
    position: relative;
}